@font-face {
  font-family: 'HKNova-Regular';
  src: local('../fonts/HKNova-Regular.otf'), url('../fonts/HKNova-Regular.otf');
}

@font-face {
  font-family: 'HKNova-Bold';
  src: local('../fonts/HKNova-Bold.otf'), url('../fonts/HKNova-Bold.otf');
}

@font-face {
  font-family: 'HKNova-Light';
  src: local('../fonts/HKNova-Light.otf'), url('../fonts/HKNova-Light.otf');
}

@font-face {
  font-family: 'HKNova-Medium';
  src: local('../fonts/HKNova-Medium.otf'), url('../fonts/HKNova-Medium.otf');
}

$font-regular: 'HKNova-Regular';
$font-bold: 'HKNova-Bold';
$font-light: 'HKNova-Light';
$font-medium: 'HKNova-Medium';
$main-color: #fff;
$main-bg: #1a1a1a;
$second-bg: #f0f0ee;

%main-content {
  max-width: 1720px;
  margin: 0 auto;
  padding: 20px 35px;
}

%flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin screen-979 {
  @media screen and (max-width: 979px) {
    @content;
  }
}

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  color: $main-color;
}

a {
  text-decoration: none;
}

input, textarea, a {
  outline: none;
}

.header {
  font-family: $font-regular;
  font-size: 20px;
  &__nav {
    @extend %main-content;
    @extend %flexbox;
    justify-content: space-between;
    .adaptive-menu {
      display: none;
      cursor: pointer;
      position: relative;
      z-index: 3;
      @include screen-979 {
        display: block;
      }
      &__full-menu {
        background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        overflow: scroll;
      }
      &__open-menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 10px 0;
        img {
          width: 30px;
        }
      }
      &__close-menu {
        background: #000;
        width: 100%;
        text-align: right;
        padding: 5px;
        img {
          cursor: pointer;
          width: 30px;
          height: 30px;
          margin: 5px;
        }
      }
      &__menu-top {
        position: relative;
        height:auto;
        list-style:outside none none;
        margin:0;
        padding:0;
        text-align:center;
        display: flex;
        flex-wrap: wrap;
        &_li {
          width: 100%;
          display:block;
          float:none;
          text-align:center;
          background: #000;
          transition:padding 0.5s ease 0s;
          border: 1px solid $main-color;
          &:hover {
            background: $main-color;
            color: $main-bg;
          }
        }
        a {
          cursor:pointer;
          display:block;
          text-decoration:none;
          text-transform: uppercase;
          padding: 40px 10px;
          font-family: $font-medium;
          font-size: 24px;
          text-transform: uppercase;
          color: $main-color;
        }
      }
    }
  }
  &__list {
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include screen-979 {
      display: none;
    }
    a {
      font-family: $font-medium;
      font-size: 20px;
      text-transform: uppercase;
      color: $main-color;
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        transform: translateY(7px) scale(0);
        display: block;
      }
      &:hover {
        &:after {
          transform: translateY(7px) scale(1);
        }
      }
    }
  }
}

.container {
  .text {
    @extend %main-content;
    h1 {
      padding: 200px 0 20px;
      font-family: $font-bold;
      font-size: 72px;
      @include screen-979 {
        font-size: 13vw;
      }
    }
  }
  .about-us {
    position: relative;
    background-color: $second-bg;
    &__content {
      @extend %main-content;
      padding-left: 100px;
      &_title {
        position: absolute;
        left: -200px;
        top: 36%;
        transform: rotate(-90deg);
        font-family: $font-bold !important;
        font-size: 113px !important;
        color: $main-color !important;
        @include screen-979 {
          top: 40%;
        }
      }
      &_name {
        font-family: $font-bold;
        font-size: 72px;
        margin-bottom: 20px;
        @include screen-979 {
          font-size: 46px;
        }
      }
      p {
        font-family: $font-light;
        font-size: 32px;
        color: $main-bg;
        margin-bottom: 30px;
        @include screen-979 {
          font-size: 25px;
        }
      }
    }
  }
  .digital {
    position: relative;
    padding: 50px 0 0 0;
    h2 {
      position: absolute;
      font-family: $font-bold;
      font-size: 400px;
      color: #121212;
      line-height: 430px;
      @include screen-979 {
        font-size: 40vw;
        line-height: 40vw;
      }
      &:first-child {
        left: 0;
        top: 0;
      }
      &:nth-child(2) {
        bottom: 0;
        right: 0;
        line-height: 350px;
      }
    }
    &__content {
      position: relative;
      @extend %main-content;
      @extend %flexbox;
      justify-content: space-between;
      max-width: 1180px;
      min-height: 720px;
      align-items: flex-start;
      &_item {
        width: 40%;
        &:first-child {
          margin-bottom: 250px;
          @include screen-979 {
            margin-bottom: 40px;
          }
        }
        h3 {
          display: inline-block;
          margin-bottom: 30px;
          font-family: $font-bold;
          font-size: 32px;
          &:before {
            content: "";
            width: 60px;
            height: 10px;
            background-color: white;
            transform: translateY(-30px) scale(1);
            display: block;
          }
        }
        p {
          font-family: $font-light;
          font-size: 20px;
        }
      }
    }
  }
  .write-to-us {
    padding: 60px 0 0 0;
    background-color: $second-bg;
    &__form {
      @extend %main-content;
      @extend %flexbox;
      position: relative;
      justify-content: space-between;
      @include screen-979 {
        display: block;
        text-align: right;
      }
      input {
        width: 40%;
        margin-bottom: 80px;
        padding: 10px 0;
        font-family: $font-medium;
        font-size: 24px;
        border: none;
        border-bottom: 1px solid $main-bg;
        color: $main-bg;
        background: none;
        @include screen-979 {
          width: 100%;
          margin-bottom: 50px;
        }
        &:valid:not(:placeholder-shown) {
          border-color: #00b871;
        }
        &:invalid:not(:placeholder-shown) {
          border-color: red;
        }
        &.send {
          width: 232px;
          height: 60px;
          font-family: $font-bold !important;
          font-size: 30px;
          background: $main-bg;
          color: $main-color;
          cursor: pointer;
          border: none;
          &:hover {
            background: $main-color;
            color: $main-bg;
            transition: 0.5s;
          }
        }
      }
      #error-email {
        position: absolute;
        bottom: 50px;
        color: red;
      }
      #error-name {
        @extend #error-email;
        height: 20px;
        top: 100px;
      }
    }
    ::placeholder {
      color: $main-bg;
      opacity: 1;
    }
  }
  .portfolio {
    &__1 {
      background: url("../images/Layer-11.jpg") no-repeat center / cover;
      width: 43%;
      height: 35.85vw;
      float: left;
    }
    &__2 {
      background: url("../images/Layer-12.jpg") no-repeat center / cover;
      width: 57%;
      height: 20.834vw;
      float: left;
    }
    &__3 {
      background: url("../images/Layer-13.jpg") no-repeat center / cover;
      width: 30%;
      height: 15vw;
      float: left;
    }
    &__4 {
      background: url("../images/Rectangle-6-copy-7.jpg") no-repeat center / cover;
      width: 27%;
      height: 15vw;
      float: left;
    }
  }
  .prices {
    clear: both;
    overflow: hidden;
    background: $second-bg;
    color: $main-bg;
    @include screen-979 {
      padding: 0 35px;
    }
    h2 {
      margin-left: -30px;
      font-family: $font-bold;
      font-size: 280px;
      line-height: 110px;
      height: 200px;
      @include screen-979 {
        font-size: 28vw;
        line-height: 12vw;
        height: 21vw;
      }
    }
    &__item {
      @extend %main-content;
      max-width: 1650px;
      @extend %flexbox;
      justify-content: space-between;
      border-bottom: 1px solid;
      padding: 0 0 10px 0;
      margin-bottom: 35px;
      span {
        font-size: 36px;
        font-family: $font-light;
        @include screen-979 {
          font-size: 3vw;
        }
      }
    }
  }
  .sent-to-us {
    background: $main-bg;
    color: $main-color;
    &__content {
      @extend %main-content;
      padding: 60px 35px;
      @extend %flexbox;
      justify-content: space-between;
      h3 {
        max-width: 570px;
        font-family: $font-bold;
        font-size: 100px;
        @include screen-979 {
          max-width: 100%;
          font-size: 50px;
          text-align: center;
          margin-bottom: 30px;
        }
      }
    }
    &__form {
      width: 40%;
      @extend %flexbox;
      flex-direction: column;
      align-items: right !important;
      position: relative;
      @include screen-979 {
        display: block;
        width: 100%;
        text-align: right;
      }
      input {
        width: 100%;
        margin-bottom: 60px;
        padding: 10px 0;
        font-family: $font-medium;
        font-size: 24px;
        border: none;
        border-bottom: 1px solid $main-color;
        color: $main-color;
        background: none;
        &:valid:not(:placeholder-shown) {
          border-color: #00b871;
        }
        &:invalid:not(:placeholder-shown) {
          border-color: red;
        }
        &.send {
          width: 232px;
          height: 60px;
          font-family: $font-bold !important;
          font-size: 30px;
          background: $main-color;
          color: $main-bg;
          cursor: pointer;
          border: none;
          @include screen-979 {
            margin: 0;
          }
          &:hover {
            background: $main-bg;
            color: $main-color;
            transition: 0.5s;
          }
        }
      }
      #error-email2 {
        position: absolute;
        bottom: 50px;
        color: red;
      }
      #error-name2 {
        @extend #error-email;
        height: 20px;
        top: 100px;
      }
    }
  }
  ::placeholder {
    color: $main-color;
    opacity: 1;
  }
}

.footer {
  clear: both;
  background-color: $second-bg;
  &__content {
    @extend %main-content;
    padding: 60px 35px;
    @extend %flexbox;
    align-items: center;
    justify-content: space-between;
    @include screen-979 {
      display: block;
      text-align: center;
    }
    &_social {
      img {
        margin-right: 40px;
        @include screen-979 {
          margin-right: 4vw;
          margin-bottom: 20px;
        }
      }
    }
    &_phone {
      font-family: $font-light;
      font-size: 34px;
      color: $main-bg;
    }
  }
}


#fountainTextG{
  width:auto;
  margin:auto;
}

.fountainTextG{
  color:rgba(0,0,0,0.53);
  font-family:Arial;
  font-size:40px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  animation-name:bounce_fountainTextG;
  -o-animation-name:bounce_fountainTextG;
  -ms-animation-name:bounce_fountainTextG;
  -webkit-animation-name:bounce_fountainTextG;
  -moz-animation-name:bounce_fountainTextG;
  animation-duration:1.731s;
  -o-animation-duration:1.731s;
  -ms-animation-duration:1.731s;
  -webkit-animation-duration:1.731s;
  -moz-animation-duration:1.731s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(.5);
  -o-transform:scale(.5);
  -ms-transform:scale(.5);
  -webkit-transform:scale(.5);
  -moz-transform:scale(.5);
}#fountainTextG_1{
   animation-delay:0.6125s;
   -o-animation-delay:0.6125s;
   -ms-animation-delay:0.6125s;
   -webkit-animation-delay:0.6125s;
   -moz-animation-delay:0.6125s;
 }
#fountainTextG_2{
  animation-delay:0.739s;
  -o-animation-delay:0.739s;
  -ms-animation-delay:0.739s;
  -webkit-animation-delay:0.739s;
  -moz-animation-delay:0.739s;
}
#fountainTextG_3{
  animation-delay:0.8655s;
  -o-animation-delay:0.8655s;
  -ms-animation-delay:0.8655s;
  -webkit-animation-delay:0.8655s;
  -moz-animation-delay:0.8655s;
}
#fountainTextG_4{
  animation-delay:0.992s;
  -o-animation-delay:0.992s;
  -ms-animation-delay:0.992s;
  -webkit-animation-delay:0.992s;
  -moz-animation-delay:0.992s;
}
#fountainTextG_5{
  animation-delay:1.1085s;
  -o-animation-delay:1.1085s;
  -ms-animation-delay:1.1085s;
  -webkit-animation-delay:1.1085s;
  -moz-animation-delay:1.1085s;
}
#fountainTextG_6{
  animation-delay:1.235s;
  -o-animation-delay:1.235s;
  -ms-animation-delay:1.235s;
  -webkit-animation-delay:1.235s;
  -moz-animation-delay:1.235s;
}
#fountainTextG_7{
  animation-delay:1.3615s;
  -o-animation-delay:1.3615s;
  -ms-animation-delay:1.3615s;
  -webkit-animation-delay:1.3615s;
  -moz-animation-delay:1.3615s;
}
#fountainTextG_8{
  animation-delay:1.478s;
  -o-animation-delay:1.478s;
  -ms-animation-delay:1.478s;
  -webkit-animation-delay:1.478s;
  -moz-animation-delay:1.478s;
}

@keyframes bounce_fountainTextG{
  0%{
    transform:scale(1);
    color:rgba(0,0,0,0.4);
  }

  100%{
    transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainTextG{
  0%{
    -o-transform:scale(1);
    color:rgba(0,0,0,0.4);
  }

  100%{
    -o-transform:scale(.5);
    color:rgb(0,0,0);
  }
}

@-ms-keyframes bounce_fountainTextG{
  0%{
    -ms-transform:scale(1);
    color:rgba(0,0,0,0.4);
  }

  100%{
    -ms-transform:scale(.5);
    color:rgb(0,0,0);
  }
}

@-webkit-keyframes bounce_fountainTextG{
  0%{
    -webkit-transform:scale(1);
    color:rgba(0,0,0,0.4);
  }

  100%{
    -webkit-transform:scale(.5);
    color:rgb(0,0,0);
  }
}

@-moz-keyframes bounce_fountainTextG{
  0%{
    -moz-transform:scale(1);
    color:rgba(0,0,0,0.4);
  }

  100%{
    -moz-transform:scale(.5);
    color:rgb(0,0,0);
  }
}